<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
      <% data.flats.each do |name, flat| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url(<%= image_path flat.flat_img %>);">
            <div class="card-category"><%= flat.category %></div>
            <div class="card-description">
              <h2><%= flat.header %></h2>
              <p><%= flat.description %></p>
            </div>
            <%= image_tag "#{flat.host_img}", class: "card-user avatar" %>
            <%= link_to "", "#", class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
